<div class="container mt-3">
    <h2>New User Signup</h2>

    <form action="/auth/signup" method="post">
        <div>
            <label>Name</label>
            <input name="name" placeholder="John" />
        </div>
        <div>
            <label>Address</label>
            <input name="address" placeholder="platform 9-3/4" />
        </div>
        <div>
            <label>Age</label>
            <input name="age" type="number" placeholder="years old" />
        </div>
        <div>
            <label>Phone</label>
            <input name="phone" type="number" placeholder="8133.." />
        </div>
        <div>
            <label>Password</label>
            <input name="password" type="password" placeholder="******" />
        </div>
        <div>
            Hooman Type <select name="hoomanType">
                <option value="">Select One</option>
                <option value="Admin"> Admin </option>
                <option value="Senior"> Senior </option>
                <option value="Helper"> Helper </option>
            </select>
        </div>
        <button type="submit">Create User</button>
    </form>
</div>