<h2>Form for Seniors to create list</h2>
<form action="/senior/create" method="post">
    <label for="items">Item 1</label>
    <input type="text" name="name" />
    <input type="number" name="quantity" />

    <label for="items">Item 2</label>
    <input type="text" name="name" />
    <input type="number" name="quantity" />

    <label for="items">Item 3</label>
    <input type="text" name="name" />
    <input type="number" name="quantity" />

    <label for="deliveryDate">Expected Delivery Date</label>
    <input type="date" name="deliveryDate" />

    <button type="submit">Submit List</button>
</form>