<h2>Form for Seniors to create list</h2>
<form action="/seniors/create" method="post">
  <label for="items">Item 1</label>
    <input type="text" name="items" />
  <label for="items">Item 2</label>
    <input type="text" name="items" />
  <label for="items">Item 3</label>
    <input type="text" name="items" />

  <button type="submit">Submit List</button>
</form>